<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ results.selectedItem.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" ng-src="{{ MainImage }}" alt="">
        </div>

        <div class="col-md-4">
            <h3>Item Description</h3>
            <p> {{ results.selectedItem.short_description }}</p>


            <h4> {{ results.selectedItem.price | currency:$ }}</h4>
            <a href="{{ results.selectedItem.source_url }}" target="_blank" class="btn btn-danger">Buy at Amazon</a>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-lg-12">
                <h3 class="page-header">More images</h3>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img ng-click="MainImage = results.selectedItem.image" class="img-responsive portfolio-item img-detail"
                     ng-src="{{ results.selectedItem.image }}">
            </div>
            <div class="col-sm-3 col-xs-6">
                <img ng-click="MainImage = results.selectedItem.image2" class="img-responsive portfolio-item img-detail"
                     ng-src="{{ results.selectedItem.image2 }}">
            </div>
            <div class="col-sm-3 col-xs-6">
                <img ng-click="MainImage = results.selectedItem.image3" class="img-responsive portfolio-item img-detail"
                     ng-src="{{ results.selectedItem.image3 }}">
            </div>
            <div class="col-sm-3 col-xs-6">
                <img ng-click="MainImage = results.selectedItem.image4" class="img-responsive portfolio-item img-detail"
                     ng-src="{{ results.selectedItem.image4 }}">
            </div>
        </div>
    </div>
    <hr>
    <div class="row" ng-init="reviews.loadComments(results.selectedItem.pk)">
        <div class="well">
            <h3>Reviews</h3>
             <form class="form panel-body"
              ng-submit="commentSubmit()"
              novalidate="novalidate"
             name="theForm">



            <div class="form-group">
                <label for="text" >Review</label>
                <textarea name="text"
                          class="form-control"
                          ng-model="formModel.text"
                          id="text"
                          required="required"
                          placeholder="Your review..."
                          maxlength="2000">
                          ></textarea>
            </div>

            <div class="form-group">
                <label for="name" >name</label>
                <input class="form-control"
                       ng-model="formModel.name"
                       name="name"
                       id="name"
                        required="required"
                        placeholder="Your name">
            </div>


                <button type="submit" class="btn btn-success">Leave a Review</button>




        </form>


            <hr>

            <div ng-repeat="comment in reviews.comments"
                 class="row">
                <div class="col-md-12">
                <small>author: {{ comment.name }}</small>
                <span class="pull-right">{{ comment.pub_date | date: 'MM/dd/yyyy HH:mm' }}</span>
                <p> {{ comment.text }}</p>
                    <hr>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; shop 2016</p>
            </div>
        </div>
    </footer>
</div>


