<!--<div id="feedback" class="ng-hide" ng-show="submits.isSubmitted == false">-->
        <!--<div id="feedback-form" style='display:none;' class="col-xs-4 col-md-4 panel panel-default">-->
            <!--<form class="form panel-body"-->
                  <!--ng-submit="createSubmit()"-->
                  <!--novalidate="novalidate">-->
                <!--<h5>If you would like to receive a newsletter with our special offers, then please submit your email</h5>-->
                <!--<br>-->

                <!--<div class="form-group">-->
                    <!--<label for="email" >Email*</label>-->
                    <!--<input name="email"-->
                           <!--type="email"-->
                           <!--class="form-control"-->
                           <!--ng-model="formModel.email"-->
                           <!--id="email"-->
                           <!--required="required">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label for="name" >Name</label>-->
                    <!--<input class="form-control"-->
                           <!--ng-model="formModel.name"-->
                           <!--name="name"-->
                           <!--id="name">-->
                <!--</div>-->


                <!--<div class="form-group">-->
                    <!--<label for="age" >Age</label>-->
                    <!--<input  class="form-control"-->
                            <!--ng-model="formModel.age"-->
                            <!--name="age"-->
                            <!--type="number"-->
                            <!--id="age">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label for="sex" >Sex</label>-->
                    <!--<select class="form-control"-->
                            <!--ng-model="formModel.sex"-->
                            <!--name="sex"-->
                            <!--id="sex">-->

                        <!--<option value="">Please choose</option>-->
                        <!--<option value="Male">Male</option>-->
                        <!--<option value="Female">Female</option>-->


                    <!--</select >-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary">-->
                    <!--Send-->
                <!--</button>-->
                <!--<br>-->
                <!--<br>-->
                <!--<p>* required field</p>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div id="feedback-tab">Newsletter</div>-->
    <!--</div>-->