

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="well">

                <div class="sortbtns">
                    <span style="display: inline" class="glyphicon glyphicon-sort"></span>
                <h6 style="display: inline; margin-right: 5px">Sort by:</h6>
                <select style="display: inline; margin-right: 20px" ng-model="results.ordering">
                    <option value="price">Least expensive</option>
                    <option value="-price">Most expensive</option>
                    <option value="pk">Oldest</option>
                    <option value="-pk">Most recent</option>
                </select>
                </div>

                <div class="sortbtns">
                    <span style="display: inline" class="glyphicon glyphicon-sort-by-attributes"></span>
                     <h6 style="display: inline; margin-right: 5px">Filter:</h6>
                <select style="display: inline; margin-right: 10px" ng-model="results.category" id="catbtn">
                    <option value="" disabled selected >Categories...</option>
                    <option value="gadgets">Gadgets</option>
                    <option value="electronics">Electronics</option>
                </select>
                </div>
                <div class="sortbtns">
                <button class="btn btn-primary btn-sm " ng-click="results.doClear()">Reset filters</button>
                </div>

            </div>
        </div>
    </div>


    <div class="row" infinite-scroll="loadMore()" infinite-scroll-distance='1'>
        <div ng-repeat="item in results.items"
             class="col-lg-3  col-md-4 col-sm-6 col-xs-12 item"
             ui-sref="detail({pk:item.pk})">
            <img ng-src="{{ item.image }}"  class="img-responsive"/>
            <h3>{{ item.title }}</h3>
            <p> {{ item.short_description }}</p>
            <p> {{ item.price | currency:$ }}</p>
            <a href="#" class="btn btn-default">more info</a>
        </div>



    </div>
    <div ng-show="results.items.length == 0 && !results.isLoading">
            <div class="alert alert-info">
                <p class="text-center">
                    No results found.
                </p>
            </div>
    </div>
    <spinner></spinner>

</div>
