

<div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand"> <a ng-click="results.doClear()" ui-sref="main">shop</a>
    </div>

    <div class="collapse navbar-collapse" id="collapsemenu">
        <form class="navbar-form navbar-right">
        <div class="form-group">

          <input type="text"
                 class="form-control"
                 ng-model="results.search"
                 ng-model-options="{ debounce: 300 } "
                 placeholder="Search...">
            <span class="glyphicon glyphicon-search srch"></span>
        </div>

      </form>
   <ul class="nav navbar-nav navbar-right" style="margin-right: 1cm">

        <li class="ng-hide active" ng-show="results.recommendation == 'her'"><a href=# ng-click="results.recommendation = 'her'" >Gifts for her</a></li>
        <li class="ng-hide" ng-show="results.recommendation !== 'her'"><a href=# ng-click="results.recommendation = 'her'">Gifts for her</a></li>
        <li class="ng-hide active" ng-show="results.recommendation == 'him'"><a href=# ng-click="results.recommendation = 'him'" >Gifts for him</a></li>
        <li class="ng-hide" ng-show="results.recommendation !== 'him'"><a href=# ng-click="results.recommendation = 'him'">Gifts for him</a></li>
        <li class="ng-hide active" ng-show="results.recommendation == 'pets'"><a href=# ng-click="results.recommendation = 'pets'" >Gifts for pets</a></li>
        <li class="ng-hide" ng-show="results.recommendation !== 'pets'"><a href=# ng-click="results.recommendation = 'pets'">Gifts for pets</a></li>
      </ul>

    </div>
  </div>