<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta  charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/paper.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bower_components/ladda/dist/ladda-themeless.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bower_components/AngularJS-Toaster/toaster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ng-animation.css' %}">
    <title>shop</title>
</head>

<body ng-app='shopApp'>
{% verbatim %}
<nav class="navbar navbar-inverse" ng-controller='navController'>
    <navbar></navbar>

<div id="feedback" class="ng-hide" ng-show="submits.isSubmitted == false">
        <div id="feedback-form" style='display:none;' class="col-xs-4 col-md-4 panel panel-default">
            <form class="form panel-body"
                  ng-submit="createSubmit()"
                  novalidate="novalidate">
                <h5>Please submit your email to receive our newsletter.</h5>
                <br>

                <div class="form-group">
                    <label for="email" >Email</label>
                    <input name="email"
                           type="email"
                           class="form-control"
                           ng-model="formModel.email"
                           id="email"
                           required="required">
                </div>


                <button type="submit" class="btn btn-primary">
                    Send
                </button>

            </form>
        </div>
        <div id="feedback-tab">Newsletter</div>
    </div>
</nav>
<toaster-container></toaster-container>
<div ui-view></div>
{% endverbatim %}

<script src="{% static 'js/jquery-3.1.1.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'node_modules/angular/angular.js' %}"></script>
<script src="{% static 'node_modules/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'node_modules/bower_components/angular-auto-validate/dist/jcs-auto-validate.js' %}"></script>
<script src="{% static 'node_modules/bower_components/spin.js/spin.js' %}"></script>
<script src="{% static 'node_modules/bower_components/angular-spinner/angular-spinner.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/ng-infinite-scroll.min.js' %}"></script>
<script src="{% static 'node_modules/bower_components/angular-animate/angular-animate.js' %}"></script>
<script src="{% static 'js/app/app.module.js' %}"></script>
<script src="{% static 'js/app/services/itemservice.service.js' %}"></script>
<script src="{% static 'js/app/services/submitservice.service.js' %}"></script>
<script src="{% static 'js/app/services/commentservice.service.js' %}"></script>
<script src="{% static 'js/app/controllers/nav.controller.js' %}"></script>
<script src="{% static 'js/app/controllers/list.controller.js' %}"></script>
<script src="{% static 'js/app/controllers/detail.controller.js' %}"></script>
<script src="{% static 'js/app/directives/navbar.directive.js' %}"></script>
<script src="{% static 'js/app/directives/spinner.directive.js' %}"></script>
<!--<script src="{% static 'js/app/directives/feedbackform.directive.js' %}"></script>-->
<script src="{% static 'js/app/app.config.js' %}"></script>
<script src="{% static 'js/app/services/items.rest.js' %}"></script>
<script src="{% static 'js/app/services/submits.rest.js' %}"></script>
<script src="{% static 'js/app/services/comments.rest.js' %}"></script>
<script src="{% static 'node_modules/bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'node_modules/bower_components/AngularJS-Toaster/toaster.min.js' %}"></script>
</body>
</html>
